@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Home {
  background-color: #DAB7C7;
}

.Home .portrait {
  position: absolute;
  width: 25%;
  top: 22%;
  right: 10%;
  -webkit-animation: portrait 1.5s ease-in-out;
          animation: portrait 1.5s ease-in-out;
}

.Home .Home_make_name {
  position: absolute;
  left: 18%;
  top: 45%;
}

.Home .Home_make_name h1 {
  font-size: 4em;
  color: #3f3c50;
  -webkit-animation: textanimation 2s ease-in-out;
          animation: textanimation 2s ease-in-out;
  font-weight: bold;
  -webkit-transform-origin: left;
          transform-origin: left;
  /*&::before {
                content: " ";
                width: 90%;
                border-bottom: 7px solid #FFC400;
                display: block;
                animation: block-d 1s ease-in-out;
                transform-origin: right;
            }*/
}

.Home .Title_under_name h1 {
  position: absolute;
  left: 18.5%;
  top: 54%;
  font-size: 0.9em;
  color: #3f3c50;
  -webkit-animation: textanimation 4s ease-in-out;
          animation: textanimation 4s ease-in-out;
}

.Home .Title_under2_name h1 {
  position: absolute;
  left: 18.5%;
  top: 56%;
  font-size: 0.9em;
  color: #3f3c50;
  -webkit-animation: textanimation 4s ease-in-out;
          animation: textanimation 4s ease-in-out;
}

.Home .item1 {
  width: 15%;
  margin-top: 30em;
  margin-left: -5rem;
}

.Home .item2 {
  position: absolute;
  width: 5%;
  bottom: -1em;
  margin-left: 20%;
}

.AboutMe {
  background-color: #fff;
}

.AboutMe .doordie {
  position: absolute;
  width: 35%;
  top: 15%;
  left: 55%;
}

.AboutMe .item3 {
  position: absolute;
  width: 8%;
  top: -2%;
  left: 85%;
}

.AboutMe .item4 {
  position: absolute;
  width: 8%;
  left: 90.7%;
  top: -1%;
}

.AboutMe h1 {
  position: absolute;
  font-size: 4em;
  color: #3f3c50;
  top: 30%;
  left: 18%;
}

.AboutMe h1:hover {
  color: #FFC400;
}

.AboutMe h2 {
  position: absolute;
  font-size: 1.5em;
  top: 50%;
  left: 18%;
  color: #3f3c50;
}

.AboutMe h2:hover {
  color: #FFC400;
}

.AboutMe .ctn-ShowMemore {
  position: absolute;
  font-size: 1em;
  color: #DAB7C7;
  font-weight: bold;
  text-decoration: none;
  top: 58%;
  left: 18%;
  padding: 15px 25px;
  background-color: #3f3c50;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-text-decoration: None;
          text-decoration: None;
}

.AboutMe .ctn-ShowMemore:hover {
  background-color: #FFC400;
  color: #3f3c50;
}

.AboutMe .borders {
  content: " ";
  position: absolute;
  left: 23%;
  top: 45%;
  width: 8%;
  border-bottom: 5px solid #FFC400;
  display: block;
}

.AboutMe .borderletter {
  content: " ";
  position: absolute;
  left: 18%;
  top: 43%;
  width: 8%;
  border-bottom: 5px solid #FFC400;
  display: block;
}

.Contact {
  background-color: #E5E5EE;
}

.Contact .contact-title h1 {
  position: absolute;
  font-size: 4em;
  color: #3f3c50;
  top: 30%;
  left: 18%;
}

.Contact .contact-title .mailne {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  top: 50%;
  left: 18%;
  color: #3f3c50;
}

.Contact .contact-title .mailne:hover {
  color: #FFC400;
}

.Contact .contact-title .behance {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  top: 54%;
  left: 18%;
  color: #3f3c50;
}

.Contact .contact-title .behance:hover {
  color: #FFC400;
}

.Contact .borders2 {
  content: " ";
  position: absolute;
  left: 23%;
  top: 45%;
  width: 8%;
  border-bottom: 5px solid #FFC400;
  display: block;
}

.Contact .borderletter2 {
  content: " ";
  position: absolute;
  left: 18%;
  top: 43%;
  width: 8%;
  border-bottom: 5px solid #FFC400;
  display: block;
}

.HelloTitle, .AboutMeTitle, .ContactTitle {
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 3em;
  font-weight: bold;
  color: #3f3c50;
}

@-webkit-keyframes textanimation {
  0% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  4.1% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
  }
  8.11% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
  }
  12.11% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
  }
  16.12% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
  }
  27.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
  }
  38.34% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
  }
  60.56% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
  }
  82.78% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes textanimation {
  0% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  4.1% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
  }
  8.11% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
  }
  12.11% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
  }
  16.12% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
  }
  27.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
  }
  38.34% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
  }
  60.56% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
  }
  82.78% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/*@keyframes block-d {
    from{
        transform: scaleX(0);

    }
    to{
        transform: scaleX(1);
    }
}*/
@-webkit-keyframes portrait {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes portrait {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */